/*
Colors used:
Primary Color 500: #B58D56;
Primary Color 400: #605E5C;
Secondary Color 500: #33312F;
Secondary Color 400: #F5F4EB;
Secondary Color 50: #FFFFFF;
Accent Color: #00802D
*/

* {
    box-sizing: border-box;
}

/* Layout styling */

.container {
    padding: 0 15px;
    justify-content: center;
}

.container iframe {
    width: 100%;
    /* Make the iframe span the full width */
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    margin: 25px 0;
    /* 25px top and bottom, 0 left and right */
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
}

.center {
    text-align: center;
}

[class*="col-"] {
    float: left;
}

#hero {
    background-color: #F5F4EB;
    padding: 48px 0;
    width: 100%;
    text-align: center;
    /* Center the text */
}

#getintouch {
    background-color: #F5F4EB;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    /* Center the text */
}

#about {
    background-color: #F5F4EB;
    padding: 48px 0;
    width: 100%;
    text-align: center;
    /* Center the text */
}

#mystory {
    background-color: #F5F4EB;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    /* Center the text */
}

#skillsandtools {
    background-color: #F5F4EB;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    /* Center the text */
}

#mywork {
    background-color: #F5F4EB;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    /* Center the text */
}

#hero h1,
#hero p {
    margin: 0;
    /* Remove default margin */
}

#hero span {
    display: block;
    /* Start on a new line */
}

main {
    padding-top: 86px;
}

.onesite main {
    padding-top: 0;
    /* No padding for onesite page */
}

nav>ul {
    list-style-type: none;
    padding: 0;
}


nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
}

.logo {
    max-width: 250px;
}

.col-md-6 {
    display: flex;
    /* Use flexbox to align items */
}

.content-wrapper {
    display: flex;
    align-items: center;
    /* Vertically align items */
}

.image-wrapper {
    width: 100%;
    /* Set the width to 100% to fill the column */
    padding-right: 20px;
    /* Add spacing between image and text */
}

.text-wrapper {
    flex: 1;
    /* Let text wrapper fill remaining space */
}

body {
    background-color: #F5F4EB;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    /* Sets the font size to 16px */
    font-weight: 300;
    /* Sets the font weight to 300 */
    line-height: 1.6;
    /* Sets the line-height to 1.6 * the font-size */
    color: #33312F;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
    margin: 0px;
}

h1 {
    font-size: 2.0em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 1.35em;
    font-weight: 700;
}

h4 {
    font-size: 1.25em;
    font-weight: 400;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

a {
    font-weight: bold;
}

a {
    color: #00802D;
    text-decoration: none;
    /* No underlining */
}

a:hover {
    color: #007128;
    text-decoration: none;
    /* Underlining when hovering over a link */
}

a:visited {
    /* visited link */
    color: #039737;
}

a:active {
    /* selected link */
    color: #994c30;
}

.button {
    display: inline-block;
    /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #00802D;
    color: #ffffff !important;
    /* needed to override the default link color */
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #00802D;
    transition-duration: 0.2s;
    transition-property: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
}

.button.contact {
    background-color: transparent;
    color: #00802D !important;
    text-transform: uppercase;
    border: 2px solid #00802D;
}

.button.contact:hover {
    background-color: #00802D;
    color: #ffffff !important;
}

.button.CV {
    background-color: transparent;
    /* Transparent background */
    color: #00802d !important;
    /* Text color */
    text-transform: capitalize;
    border: 2px solid #00802D;
    /* Green border */
}

.button.CV:hover {
    background-color: #00802D;
    color: #ffffff !important;
}

.box-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add box shadow */
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #F5F4EB; /* Add a background color */
    position: fixed; /* Make the header fixed */
    top: 0; /* Position it at the top of the viewport */
    width: 100%; /* Set the width to 100% */
    z-index: 999; /* Set a higher z-index to ensure the header is above other elements */
}

.linkedin-icon {
    padding-top: 15px;
    /* Add top padding to create space between the email link and the LinkedIn icon */
}

footer#contact {
    text-align: left;
    /* Align content to the left */
    margin-top: 20px;
    /* Add some top margin to create space */
}

.contact-message {
    margin-bottom: 20px;
    /* Adjust the value as needed */
}
.navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 20px;
    padding-right: 0;
  }
  .navtoggle.responsive li  {
    display: block;
  }
  
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
    header {
        text-align: unset;
        padding: 0px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    body {
        font-size: 18px;
    }

    .col-md-6 {
        width: calc(50% - 20px);
        margin: 0 10px;
    }

    nav > ul {
        margin: 1em 0;
      }
    nav > ul > li {
        display: inline-block;
      }
      .navtoggle li:not(:last-child) {
        display: inline-block;
      }
      .navtoggle li:last-child {
        display: none;
      }
      nav ul li a::before,
    nav ul li a::after {
        width: 0;
    }

    nav ul li a:hover::before,
    nav ul li a:hover::after {
        width: 0;
    }
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    header {
        text-align: unset;
        padding: 0px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    body {
        font-size: 18px;
    }

    .col-lg-7 {
        width: calc(58.33% - 20px);
        margin: 0 10px;
    }

    .col-lg-5 {
        width: calc(41.6667% - 20px);
        margin: 0 10px;
    }
    
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#animated-svg {
    animation: rotate 2s linear infinite;
}

@keyframes color-change {
    from {
        fill: #edc655;
    }

    to {
        fill: #f76414;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
    padding-top: 15px;


}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #00802D;
    padding: 2px 0;
    display: inline-block;
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #00802D;
    transition: width 0.3s ease;
}

nav ul li a::before {
    top: 2px;
}

nav ul li a::after {
    bottom: 2px;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    width: 100%;
    left: 0;
    transform: none;
}

.navbar {
    width: 100%;
    /* Take up the full width of the viewport */
    position: fixed;
    /* Fixed positioning */
    top: 0;
    /* Position at the top of the viewport */
    left: 0;
    /* Position from the left edge of the viewport */
    background: #F5F4EB;
    padding: 20px;
    display: flex;
    /* Use flexbox to horizontally align navigation items */
    justify-content: center;
    /* Align items to the right */
    align-items: center;
    /* Vertically center items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.navbar a:hover {
    color: #007128; /* Hover color */
}

.navbar a:visited {
    color: #039737; /* Focus color */
}

.navbar a:active {
    color: #994c30; /* Active (clicked) color */
}


